


<!-- Layout code for grid + map -->
<% if @farms.empty? %>
  <div class="wrap">
    <h1 style="text-align: center; margin-top: 150px; margin-bottom: 30px;">Essaye encore, il n'y a aucun résultat pour la recherche
    <strong>
    <% params[:query].each do |param| %>
      "<%= param.to_s %>"
    <% end %>
    </strong>
    </h1>
    <div class="container-padded">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="form-content">
            <%= form_tag farms_path, method: :get do %>
              <%= label_tag "Choisissez votre région" %>
              <%= select_tag "query[]", options_for_select(Farm::REGIONS, params[:query]), multiple: true, class: "form-control select2 hello" %>
              <%= submit_tag "Valider", class: "edit_button button-very-green", id: "button-submit", style: "margin-top:30px;" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="map-layout">
    <div class="cards-container">
      <div class="submited-farm">
        <%= form_tag farms_path, method: :get do %>
          <%= label_tag "Choisissez votre région" %>
          <%= select_tag "query[]", options_for_select(Farm::REGIONS, params[:query]), multiple: true, class: "form-control select2 hello" %>
          <%= submit_tag "Valider", class: "edit_button button-very-green", id: "button-submit" %>
        <% end %>
      </div>
      <div class="row">
        <% @farms.each do |farm| %>
          <div class="col-xs-12 col-md-6 col-xl-4">
            <div class="farm-card">
              <div class="top-card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('<%= cl_image_path farm.photo, crop: :fill %>');">
                <div class="hidden-hover">
                  <h3><%= farm.city %></h3>
                    <h5><%= farm.regions %></h5>
                </div>
                <div class="card-hover">
                  <p><%= farm.description[0..50] %>...</p>
                </div>
              </div>
              <div class="bottom-card">
                <%= image_tag farm.user.photo, crop: :fill, class: "small-avatar-circle" %>
                <%= link_to farm.name, farm_path(farm) %>
                <ul class="list-inline">
                  <li><i class="fa fa-share"></i></li>
                  <li><i class="fa fa-heart"></i></li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="map-container hidden-mobile">
      <div id="map" data-markers="<%= @markers.to_json %>"></div>
    </div>
  </div>
<% end %>
