

<!-- Layout code for grid + map -->

<div class="map-layout", style="margin-top: 100px">
  <div class="cards-container">
    <script>
      const userInput = document.getElementById("query");
      const submitButton = document.getElementById("")
      userInput.addEventListener("click", (event) => {
        <%= form_tag farms_path, method: :get do %>
          <%= label_tag "Choisissez votre région" %>
          <%= select_tag :query, options_for_select(Farm::REGIONS, params[:query]), class: "form-control" %>
        <% end %>
      });
    </script>

    <div class="row">
      <% @farms.each do |farm| %>
        <div class="col-xs-12 col-sm-6">
          <div class="farm-card">
            <div class="top-card text-center" style="background-image: linear-gradient(rgba(175,249,201,0.2), rgba(47,91,113,0.8)), url('<%= cl_image_path farm.photo, crop: :fill %>');">
              <%= image_tag farm.user.photo, crop: :fill, class: "medium-avatar-circle" %>

              <h1><%= link_to farm.name, farm_path(farm) %></h1>
              <p><%= farm.city %></p>
            </div>
            <div class="bottom-card">
              <p class="text-center"><%= farm.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="map-container hidden-mobile">
    <div id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>






