<% if policy(Farm).create? %>
  <%= link_to "Add farm", new_farm_path %>
<% end %>

<!-- Layout code for grid + map -->


<div class="map-layout">
  <div class="cards-container">
    <div class="row">
      <% @farms.each do |farm| %>
        <div class="col-xs-12 col-sm-6">
          <div class="farm-card">
            <div class="top-card text-center" style="background-image: linear-gradient(rgba(175,249,201,0.2), rgba(47,91,113,0.8)), url('<%= cl_image_path farm.photo, crop: :fill %>');">
              <%= image_tag farm.user.photo, crop: :fill, class: "small-avatar-circle" %>

              <h1><%= link_to farm.name, farm_path(farm) %></h1>
              <p><%= farm.city %></p>
            </div>
            <div class="bottom-card">
              <p class="text-center"><%= farm.description %></p>
            </div>
          </div>


        </div>
      <% end %>
    </div>
  </div>

  <div class="map-container hidden-mobile">
    <div id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>






