<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)),
         url('<%= cl_image_path @farm.photo, crop: :fill %>'); background-size: cover; background-position: center; height: 55vh; ">
  <h1><%= @farm.name %></h1>
  <p><%= @farm.city %></p>
</div>

<div class="farm-show-layout">
  <div class="farm-info">
    <div class="pres-show-farm">
      <p>
        <%= link_to profile_path(@farm.user) do %>
          <%= image_tag @farm.user.photo, class: "big-avatar-circle" %>
        <% end %>
      </p>
      <p><%= @farm.user.name %></p>
    </div>
    <div class="description-farm-show">
      <p><%= @farm.description %></p>
    </div>
  </div>

  <div class="reservation">
    <div>
      <p>Informations complémentaires :</p>
        <li>Superficie de notre ferme : <%= @farm.size %>m2</li>
        <li>Contactez nous : <%= @farm.user.email %></li>
        </br>
    </div>

    <%= simple_form_for [@farm, @booking] do |f| %>
      <div class="form-content">

        <div class="form-inputs" >
          <%= f.input :start_time %>
          <%= f.input :end_time %>
          <%= f.input :number_of_people %>
          <%= f.input :message %>
          <%= f.button :submit,class: "button-very-green create-farm" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
