<h1>La ferme</h1>

<ul>
  <li><%= @farm.name %></li>
  <li><%= @farm.address %></li>
  <li><%= @farm.user.email %></li>
</ul>

<%= link_to "Go back to farms", farms_path  %>

<% if policy(@farm).update? %>
<%= link_to 'Edit', edit_farm_path(@farm) %>
<% end %>

<% if policy(@farm).destroy? %>
<%= link_to 'Delete', @farm, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
