

<h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px;"><%= @user.name %></h1>
<%= image_tag @user.photo, class: "big-avatar-circle" %>

<h2>Infos de l'utilisateur</h2>
<ul>
  <li> <%= @user.email %></li>
  <li> Membre depuis <%= @user.created_at %></li>
</ul>

<h3>Mes fermes</h3>
<ul> <% @user.farms.each do |farm| %>
  <li><%= farm.name %>
    <% if policy(farm).update? %>
        <%= link_to 'Edit', edit_farm_path(farm) %>
      <% end %>

      <% if policy(farm).destroy? %>
        <%= link_to 'Delete', farm, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %></li>
  <% end %>
</ul>

<h3>Mes réservations</h3>
<ul> <% @user.bookings.each do |booking| %>
  <li><%= booking.farm.name %> |
    <% if policy(booking).create? %>
      <%= booking.accepted %>
    <% end %>
  </li>
  <% end %>
</ul>

<h3>Les demandes de réservations sur mes fermes</h3>
<ul> <% @user.farms.each do |farm| %>
  <li> <%= farm.name  %>
      <% farm.bookings.each do |booking| %>
      <% if booking.accepted == "En attente" %>
          <% if policy(farm).update? %>
            <%= link_to "Accepter", accept_path(booking) %>
            <%= link_to "Refuser", decline_path(booking) %>
          <% end %>
        <% end %>
    <% end %>
  </li>
  <% end %>
</ul>


<%= link_to "Edit profile", edit_user_registration_path  %>
