

<h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px;"><%= @user.name %></h1>
<%= image_tag @user.photo, class: "big-avatar-circle" %>

<h2>Infos de l'utilisateur</h2>
<ul>
  <li> <%= @user.email %></li>
  <li> Membre depuis <%= @user.created_at %></li>
</ul>

<ul> <% @user.farms.each do |farm| %>
  <li><%= farm.name %> </li>
  <% end %>
</ul>

<ul> <% @user.bookings.each do |booking| %>
  <li><%= booking.accepted %></li>
  <% end %>
</ul>
