
<!-- <h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">Toutes mes réservations</h1> -->
<div class="wrapper">
  <div class="container container-profile">
    <div class="flex-container">
      <div class="left-stuff">
        <div class="card-profile profile">
          <div class="card-content">
            <%= image_tag @user.photo, class: "big-avatar-circle" %>
            <h4><%= @user.name %></h4>
            <p>@user.age , @farm.city (à ajouter)</p>
            <br>
            <p>@user.description(à ajouter)</p>
            <br>
            <%= link_to "Mes fermes", farms_path, class: "button-very-green"%>
          </div>
        </div>
        <div class="card-profile kpi">
          <div class="card-content">
            <p>kpi à mettre</p>
          </div>
        </div>
      </div>
      <div class="right-stuff">
        <div class="card-profile description-profile">
          <h1>Réservations</h1>

          <div class="tabs">
            <a href="#" class="tab active">Mes demandes</a>
            <a href="#" class="tab">Mes réservations</a>
          </div>
          <ul class="inbox">
            <li class="message">
              <%= image_tag @user.photo, class: "small-avatar-circle" %>
              <div class="message-name">
                <p><%= @user.name %></p>
                <p><%= Time.now.strftime("%d/%m/%Y") %></p>
              </div>
              <div class="message-body">
                <p>"Bonjour, nous souhaiterions venir passer 1 semaines dans votre ferme"</p>
              </div>
              <div class="message-status">
                <p>Status</p>
                <p>Pending</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
