
<!-- <h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">Toutes mes réservations</h1> -->
<div class="wrapper">
  <div class="container container-profile">
    <div class="flex-container">
      <div class="left-stuff">
        <div class="card-profile profile">
          <div class="card-content">
            <%= image_tag @user.photo, class: "big-avatar-circle" %>
            <h4><%= @user.name %></h4>
            <p><%= @user.age %> ans</p>
            <p><%= @user.location %> </p>
            <p>Membre depuis <%= @user.created_at %></p>
            <br>
            <% if current_user.farms.first.nil? %>
              <%= link_to "Ajouter une ferme", new_farm_path , class: "button-very-green" %>
            <% else %>
              <%= link_to "Ma ferme", farm_path(current_user.farms.first), class: "button-very-green"%>
            <% end %>
          </div>
        </div>
        <div class="card-profile kpi">
          <div class="card-content">
            <p><%= @user.about %></p>
          </div>
        </div>
      </div>
      <div class="right-stuff">
        <div class="card-profile description-profile">
          <h1>Réservations</h1>


          <ul class="inbox">
            <li class="message">
              <div class="message-name">
                <% @user.bookings.each do |booking| %>
                  <%= image_tag booking.farm.user.photo, class: "small-avatar-circle" %>
                  <p><%= booking.farm.user.name %></p>
                  <%= booking.farm.name %>
                  <div class="message-body">

                    <p><%= booking.message %></p>
                  </div>
                  <div class="message-status">
                    <p>Status</p>
                    <p><% if policy(booking).create? %>
                        <%= booking.accepted %>
                      <% end %></p>
                  </div>
                <% end %>


                <% @user.farms.each do |farm| %>
                  <%= image_tag farm.photo, class: "small-avatar-circle" %>
                   <%= farm.name  %>
                      <% farm.bookings.each do |booking| %>
                      <%= booking.message %>
                      <% if booking.accepted == "En attente" %>
                          <% if policy(farm).update? %>
                            <%= link_to "Accepter", accept_path(booking) %>
                            <%= link_to "Refuser", decline_path(booking) %>
                          <% end %>
                        <% else %>
                          <%= booking.accepted %>
                        <% end %>
                    <% end %>

                  <% end %>


              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
