<div class="wrap">
  <h1 style="text-align: center; margin-top: 50px; margin-bottom: 30px;">Inscription</h1>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="container-padded">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="form-content">
            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true, input_html: { class: "custom-field" } %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: "custom-field" %>
              <%= f.input :password_confirmation, required: true, style: "custom-field" %>
              <%= f.input :name, required: true, class: "custom-field" %>
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %>
            </div>
            <div class="connect-field">
              <%= f.button :submit, "S'inscrire", class: "button-very-green padding-s-inscrire" %>
            </div>
            <div class="links">
              <%= render "devise/shared/links" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


