<h1>Book this farm</h1>

<%= simple_form_for [@farm, @booking] do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :number_of_people %>
  <%= f.button :submit %>
<% end %>
