<h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">Détails de ma réservation</h1>
<%= simple_form_for [@farm, @booking] do |f| %>
<div class="container-padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-content">
        <div class="form-inputs" >
          <%= f.input :start_time %>
          <%= f.input :end_time %>
          <%= f.input :number_of_people %>
          <%= f.input :message %>
          <%= f.button :submit,class: "button-very-green create-farm" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>




