<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <div class="container-padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="form-content">
          <div class="form-inputs" >
            <%= f.input :email, required: true, autofocus: true, class: "custom-field" %>
          </div>
          <div class="connect-field">
              <%= f.button :submit, "M'envoyer les instructions de mot de passe", class: "button-very-green" %>
            </div>
            <div class="links">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>



