<div class="navbar">
  <div>
    <a href="/"><%= image_tag "logo2.png", class: "logo-3" %></a>
  </div>
  <div class="navbar-menu">
    <div class="add-farm">
      <%= link_to "Ajouter une ferme", new_farm_path, class: "navbar-menu-item" %>
    </div>
    <div class="msg">
      <%= link_to "Mes réservations", profile_path(current_user), class: "navbar-menu-item"  %>
    </div>
    <div class="navbar-menu-item-dropdown">
      <div class="dropdown">
        <%= image_tag(current_user.photo, class: "avatar dropdown-toggle small-avatar-circle", data: {toggle: "dropdown"}, id: "navbar-wagon-menu") %>
        <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
          <li><%= link_to "Profil", profile_path(current_user),  class: "navbar-menu-item-dropdown"  %></li>
          <li><%= link_to "Se déconnecter", destroy_user_session_path, method: "delete", class: "navbar-menu-item-dropdown"  %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
