<div class="navbar">
  <a href="/"><img src="#" alt=""></a>
  <div class="navbar-menu">
    <div class="add-farm">
      <%= link_to "Ajouter une ferme", new_farm_path, class: "navbar-menu-item" %>
    </div>
    <div class="resa">
      <%= link_to "Mes fermes", profile_path(@current_user), class: "navbar-menu-item"  %>
    </div>
    <div class="msg">
      <%= link_to "Messages", new_user_session_path, class: "navbar-menu-item"  %>
    </div>
    <div class="navbar-menu-item-dropdown">
      <div class="dropdown">
        <%= image_tag(current_user.photo, class: "avatar dropdown-toggle small-avatar-circle", data: {toggle: "dropdown"}, id: "navbar-wagon-menu") %>
        <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
          <li><%= link_to "Toutes mes réservations", farms_path,  class: "navbar-menu-item-dropdown"  %></li>
          <li><%= link_to "Modifier le profil", profile_path(current_user),  class: "navbar-menu-item-dropdown"  %></li>
          <li><%= link_to "Se déconnecter", destroy_user_session_path, method: "delete", class: "navbar-menu-item-dropdown"  %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
