<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAReZlJathdJx304-fesAWPacs2QHamY94&libraries=places&callback=initMap" async defer>
    </script><!-- JS link to import Gmap in the farms index view -->
  </head>
  <body>
    <%= render 'shared/navbar_home' %>
    <%= render 'shared/navbar_not_connected' %>
    <%= render 'shared/navbar_connected' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/footer' %>
  </body>
</html>
